body header.bg-primary {
    background-color: #181144 !important;
}
.admonition-todo {
    border: 5px solid red;
    box-shadow: 0 0 10px 10px #ff0 !important;
}
td :last-child {
    margin-bottom: 0;
}
.to-be-confirmed {
    background-color: #ffc;
    color: #900;
}
.to-be-confirmed::before {
    background-color: #ffc;
    color: #9006;
    content: '[';
    font-weight: bold;
    margin: 0 0.3rem;
}
.to-be-confirmed::after {
    background-color: #ffc;
    color: #9006;
    content: '](TBC)';
    font-weight: bold;
    margin: 0 0.3rem;
}
