body header.bg-primary {
    background-color: #181144 !important;
}
.admonition-todo {
    border: 5px solid red;
    box-shadow: 0 0 10px 10px #ff0 !important;
}
td :last-child {
    margin-bottom: 0;
}
.draft-todo {
    background-color: #fcc;
    font-weight: bold;

}
.draft-todo::before {
    background-color: #c00;
    color: #ff0;
    content: 'TODO: [';
    font-weight: bold;
    margin: 0 0.3rem;
}
.draft-todo::after {
    background-color: #c00;
    color: #ff0;
    content: ']';
    font-weight: bold;
    margin: 0 0.3rem;
}
.prod-to-be-confirmed {
    background-color: #ffe;
    color: #300;
}
.draft-to-be-confirmed {
    background-color: #ffc;
    color: #900;
}
.draft-to-be-confirmed::before {
    background-color: #ffc;
    color: #9006;
    content: '[';
    font-weight: bold;
    margin: 0 0.3rem;
}
.draft-to-be-confirmed::after {
    background-color: #ffc;
    color: #9006;
    content: '](TBC)';
    font-weight: bold;
    margin: 0 0.3rem;
}
/* nbar = N/Bar (active low overbar style for digital signals) */
.nbar {
    text-decoration: overline;
}
.pre {
    border: 1px solid rgba(128,  0,  0, 0.2);
    background-color: rgba(  0,  0,  0, 0.05);
    border-radius: 4px;
    padding: 2px;
}
.signal-port {
    border: 1px solid rgba(  0,  0,128, 0.4);
    background-color: rgba(  0,  0,128, 0.1);
    color: #369;
    font-size: 80%;
}
.signal-port-subscript {
    color: #00c;
    font-weight: bold;
}
a.footnote-reference.brackets {
    position: relative;
    top: -0.5em;
    font-size: 80%;
    white-space: nowrap;
}
:target {
    background-color: #ff0;
}
:target::before {
    display: block;
    content: '➜';
    position: absolute;
    color: #f00;
    left: -0.2rem;
    background-color: #ff0;
    border-radius: 1rem;
    padding: 0.1rem 0.2rem;
}
table td, table th {
    text-align: initial !important;
}
